/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background: var(--light);
}

:root {
  --light: rgb(247, 242, 236);
  --orange: #db6a2e;
  --dark-grey: #494846;
  color: white;
}

#header {
  height: 50%;
  justify-content: center;
  display: flex;
}

#header-image {
  background-image: url("header.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  max-width: 719px;
  height: auto;
}

h1 {
  margin-left: 10%;
  background-color: #3a3a3ad2;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 7em;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#book-display {
  padding: 0 10% 10% 10%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 5%;
  justify-content: center;
  background-image: url("grid-bg.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: bottom;
}

.book-card {
  display: flex;
  flex-direction: column;
  height: 350px;
}

.book-card-cover,
#book-openAddToLibraryModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 90%;
  padding: 5%;
  background-color: var(--orange);
  border: 5px solid rgb(66, 66, 66);
}

.book-card-footer{
  padding:3%;
  display: flex;
  justify-content: space-between;
  color:var(--dark-grey);
}

.book-card-totalPages{

}

.style2 {
  background-color: var(--dark-grey);
}

.style3 {
  color: var(--dark-grey);
  background: repeating-linear-gradient(
      90deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 16%
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 16%
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 15%
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 18%
    );
  background-color: var(--light);
}

#modal {
  display: none;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
}

#AddToLibraryWrapper {
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--orange);
  box-shadow: 5px 5px 20px #db6a2e;
}

#AddToLibraryWrapper span {
  font-size: 2em;
  font-weight: bold;
  display: inline;
  align-self: flex-end;
  cursor: pointer;
}

#AddToLibraryWrapper * {
  margin-bottom: 1em;
}

#AddToLibraryWrapper button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

#AddToLibraryWrapper button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#AddToLibraryWrapper button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#book-openAddToLibraryModal {
  background-color: var(--light);
  color: var(--dark-grey);
  display: grid;
  place-items: center;
  justify-content: center;
  font-size: 10em;
  font-weight: 900;
}

#book-openAddToLibraryModal:hover {
  background-color: #fa7934;
  cursor: pointer;
}

.book-card-title {
  font-size: 1.5em;
  font-weight: bold;
}
