@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background: var(--light);
  font-family: "Exo 2", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

:root {
  --light: rgb(247, 242, 236);
  --orange: #f7941d;
  --dark-grey: #494846;
  color: white;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

#header {
  justify-content: center;
  height: 40%;
  grid-template-columns: 30% 40%;
  display: grid;
  margin-bottom: 8%;
}

#header-image {
  background-image: url("header.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

#title {
  display: block;
}

h1 {
  display: inline-block;
  position: relative;
  color: var(--dark-grey);
  margin-left: 0%;
  font-size: 10em;
  text-shadow: 0.03em 0.03em 0 var(--light);
}

h1::after {
  content: attr(data-shadow);
  position: absolute;
  top: 4%;
  left: 2%;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    var(--dark-grey) 45%,
    var(--dark-grey) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#book-display {
  padding: 0 10% 10% 10%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 5%;
  justify-content: center;
  background-image: url("grid-bg.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: bottom;
}

.book-card {
  display: flex;
  flex-direction: column;
  height: 25em;
}

.book-card-cover-wrapper{
  /* position: inherit; */
  display: block;
  width: 100%;
  height: 90%;
}

.book-card-cover,
#book-openAddToLibraryModal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: var(--orange);
  border: 5px solid rgb(66, 66, 66);
  border-radius: 70px 5px 20px 2px/15px 225px 5px 15px;
  box-shadow: rgba(209, 209, 209, 1) 4px 1px, rgba(209, 209, 209, 1) 5px 2px,
    rgb(189, 189, 189) 6px 3px, rgb(189, 189, 189) 7px 4px,
    rgba(209, 209, 209, 1) 8px 5px, rgba(209, 209, 209, 1) 9px 6px,
    rgb(189, 189, 189) 10px 7px, rgba(209, 209, 209, 1) 11px 8px,
    rgba(209, 209, 209, 1) 12px 9px, var(--dark-grey) -1px 1px,
    var(--dark-grey) 2px 2px, var(--dark-grey) 3px 3px, var(--dark-grey) 4px 4px,
    var(--dark-grey) 5px 5px, var(--dark-grey) 6px 6px, var(--dark-grey) 7px 7px,
    var(--dark-grey) 8px 9px, var(--dark-grey) 9px 10px;
  /* var(--dark-grey) 10px 11px, var(--dark-grey) 11px 12px,
    var(--dark-grey) 13px 13px, var(--dark-grey) 14px 13px; */
  transition: ease-out 0.1s;
}

.book-card-cover-wrapper:hover .book-card-cover,
.book-card-cover-wrapper:hover #book-openAddToLibraryModal {
  border-radius: 70px 5px 225px 2px/15px 155px 15px 15px;
}

.book-card-cover-wrapper:hover{
  
  /* width: 99%; */
  transform:translateY(-0.2em) /* translateX(-1%) scaleX(99%) */;
  /* padding-right: 4%; */
}

/* .book-card-cover-wrapper:hover .book-card-cover{
  transform:perspective(1em)
} */


#book-openAddToLibraryModal {
  background-color: var(--light);
  color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  font-weight: 900;
}

#book-openAddToLibraryModal:hover {
  background-color: #fa7934;
  cursor: pointer;
}

/* .book-card-cover::before {
  content: "";
  display: none;
  justify-self: flex-start;
  align-self: flex-start;
  position: absolute;
  width: 105%;
  height: 105%;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    var(--dark-grey) 45%,
    var(--dark-grey) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  top: 0.03em;
  left: 0.07em;
  z-index: -4;
}

.book-card-cover-wrapper:hover .book-card-cover::before {
  display: block;
} */

.book-card-cover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -2;
  /* background-image: repeating-linear-gradient(
    45deg,
    var(--dark-grey) 1px,
    transparent 2px,
    transparent 6px
  ); */
  border: 5px solid transparent;
  border-radius: 70px 5px 20px 2px/15px 225px 5px 15px;
  box-shadow: var(--dark-grey) 6px 17px,var(--dark-grey) 20px 14px,var(--dark-grey) 20px 16px,
  var(--dark-grey) 21px 17px,
  rgba(0, 0, 0, 0.158) 21px 17px 20px;
}

.book-card-cover-wrapper:hover .book-card-cover::after{
  box-shadow: var(--dark-grey) 6px 17px,var(--dark-grey) 20px 14px,var(--dark-grey) 20px 16px,
  var(--dark-grey) 21px 17px,
  rgba(0, 0, 0, 0.253) 25px 20px 20px;
}

.book-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.book-card-delete {
  position: absolute;
  padding: 0.35em;
  padding-bottom: 0.5em;
  top: 0.15em;
  height: 1em;
  width: 1em;
  display: none;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  place-items: center;
  font-weight: 900;
  font-size: 3em;
  cursor: pointer;
  border-radius: 50%;
  transition: linear;
  z-index: 5;
  /* -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111827;
  -moz-text-stroke-color: #111827;
  color: transparent; */
}
.book-card-delete::after {
  content: "";
  position: inherit;
  top: 0;
  width: 100%;
  height: 100%;
  border: transparent dashed 3px;
  border-radius: 50%;
  z-index: -1;
}

.book-card-delete:hover::after {
  border-color: black;
  animation: spin 10s linear infinite;
}

.book-card-cover:hover .book-card-delete {
  display: flex;
}

.book-card-footer {
  padding: 7% 5%;
  display: flex;
  justify-content: space-between;
  color: var(--dark-grey);
}

.book-card-totalPages {
}

.book-card:nth-child(2n + 3) .book-card-cover {
  background-color: var(--dark-grey);
}

.book-card:nth-child(3n + 4) .book-card-cover {
  color: var(--dark-grey);
  background: repeating-linear-gradient(
      90deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 16%
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 16%
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 15%
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 18%
    );
  background-color: var(--light);
}

#modal {
  display: none;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.699);
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
}

#AddToLibraryWrapper {
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--orange);
  box-shadow: 5px 5px 20px #db6a2e;
}

#AddToLibraryWrapper span {
  font-size: 2em;
  font-weight: bold;
  display: inline;
  align-self: flex-end;
  cursor: pointer;
}

#AddToLibraryWrapper * {
  margin-bottom: 1em;
}

#AddToLibraryWrapper button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

#AddToLibraryWrapper button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#AddToLibraryWrapper button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
