@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background: var(--light);
  font-family: "Exo 2", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

:root {
  --light: rgb(247, 242, 236);
  --orange: #F7941D;
  --dark-grey: #494846;
  color: white;
}

#header {
  justify-content: center;
  height: 40%;
  grid-template-columns: 30% 40%;
  display: grid;
  margin-bottom: 8%;
}

#header-image {
  background-image: url("header.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

#title {
  display: block;
}

h1 {
  display: inline-block;
  position: relative;
  color: var(--dark-grey);
  margin-left: 0%;
  font-size: 10em;
  text-shadow: 0.03em 0.03em 0 var(--light);
}

h1::after {
  content: attr(data-shadow);
  position: absolute;
  top: 4%;
  left: 2%;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    var(--dark-grey) 45%,
    var(--dark-grey) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#book-display {
  padding: 0 10% 10% 10%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 5%;
  justify-content: center;
  background-image: url("grid-bg.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: bottom;
}

.book-card {
  display: flex;
  flex-direction: column;
  height: 25em;
}

.book-card-cover,
#book-openAddToLibraryModal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 90%;
  padding: 5%;
  background-color: var(--orange);
  border: 5px solid rgb(66, 66, 66);
  border-radius: 95px 5px 225px 15px/15px 225px 15px 5px;
  box-shadow: rgba(209, 209, 209, 0.4) 5px 5px,
    rgba(209, 209, 209, 0.3) 10px 10px;
}

#book-openAddToLibraryModal {
  background-color: var(--light);
  color: var(--dark-grey);
  display: grid;
  place-items: center;
  justify-content: center;
  font-size: 10em;
  font-weight: 900;
}

#book-openAddToLibraryModal:hover {
  background-color: #fa7934;
  cursor: pointer;
}

/* .book-card-cover::before,
#book-openAddToLibraryModal::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3%;
  left: 6%;
  z-index: -1;
  background-image: repeating-linear-gradient(
    45deg,
    var(--dark-grey) 1px,
    transparent 2px,
    transparent 6px
  );
  background-size: 7px 7px;
} */

.book-card-cover::after,
#book-openAddToLibraryModal::after {
  content: "";
  position: absolute;
  width: 104%;
  height: 103%;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: rgba(187, 187, 187, 0.733);
  border: rgb(66, 66, 66) solid 4px;
  border-radius: 95px 5px 225px 400px/15px 225px 15px 5px;
  -webkit-clip-path: polygon(
    0 98%,
    5% 100%,
    100% 100%,
    100% 2%,
    98% 0,
    9% 0,
    0 9%
  );
  clip-path: polygon(0 98%, 5% 100%, 100% 100%, 100% 2%, 98% 0, 9% 0, 0 9%);
}

.book-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.book-card-delete {
  position: absolute;
  top: -0.3em;
  display: inline-block;
  align-self: flex-end;
  font-weight: 900;
  font-size: 3em;
  cursor: pointer;


  /* -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111827;
  -moz-text-stroke-color: #111827;
  color: transparent; */
}

.book-card-footer {
  padding: 7% 5%;
  display: flex;
  justify-content: space-between;
  color: var(--dark-grey);
}

.book-card-totalPages {
}

.style2 {
  background-color: var(--dark-grey);
}

.style3 {
  color: var(--dark-grey);
  background: repeating-linear-gradient(
      90deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 16%
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 16%
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 15%
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      var(--dark-grey) 1%,
      transparent 1%,
      transparent 18%
    );
  background-color: var(--light);
}

#modal {
  display: none;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
}

#AddToLibraryWrapper {
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--orange);
  box-shadow: 5px 5px 20px #db6a2e;
}

#AddToLibraryWrapper span {
  font-size: 2em;
  font-weight: bold;
  display: inline;
  align-self: flex-end;
  cursor: pointer;
}

#AddToLibraryWrapper * {
  margin-bottom: 1em;
}

#AddToLibraryWrapper button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

#AddToLibraryWrapper button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#AddToLibraryWrapper button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
